tienda_BPEL/src/ServicioAlmacen/localhost_8080/WA_Almacen/wsAlmacen.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_almacen/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_almacen/" name="wsAlmacen">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_almacen/" schemaLocation="http://localhost:8080/WA_Almacen/wsAlmacen?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="isISBNUsed">
<part name="parameters" element="tns:isISBNUsed"/>
</message>
<message name="isISBNUsedResponse">
<part name="parameters" element="tns:isISBNUsedResponse"/>
</message>
<message name="addBook">
<part name="parameters" element="tns:addBook"/>
</message>
<message name="addBookResponse">
<part name="parameters" element="tns:addBookResponse"/>
</message>
<message name="modifyStock">
<part name="parameters" element="tns:modifyStock"/>
</message>
<message name="modifyStockResponse">
<part name="parameters" element="tns:modifyStockResponse"/>
</message>
<message name="checkStock">
<part name="parameters" element="tns:checkStock"/>
</message>
<message name="checkStockResponse">
<part name="parameters" element="tns:checkStockResponse"/>
</message>
<portType name="wsAlmacen">
<operation name="remove">
<input wsam:Action="http://ws_almacen/wsAlmacen/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://ws_almacen/wsAlmacen/countRequest" message="tns:count"/>
<output wsam:Action="http://ws_almacen/wsAlmacen/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://ws_almacen/wsAlmacen/findRequest" message="tns:find"/>
<output wsam:Action="http://ws_almacen/wsAlmacen/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://ws_almacen/wsAlmacen/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws_almacen/wsAlmacen/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws_almacen/wsAlmacen/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://ws_almacen/wsAlmacen/edit" message="tns:edit"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://ws_almacen/wsAlmacen/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://ws_almacen/wsAlmacen/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="isISBNUsed">
<input wsam:Action="http://ws_almacen/wsAlmacen/isISBNUsedRequest" message="tns:isISBNUsed"/>
<output wsam:Action="http://ws_almacen/wsAlmacen/isISBNUsedResponse" message="tns:isISBNUsedResponse"/>
</operation>
<operation name="addBook">
<input wsam:Action="http://ws_almacen/wsAlmacen/addBookRequest" message="tns:addBook"/>
<output wsam:Action="http://ws_almacen/wsAlmacen/addBookResponse" message="tns:addBookResponse"/>
</operation>
<operation name="modifyStock">
<input wsam:Action="http://ws_almacen/wsAlmacen/modifyStockRequest" message="tns:modifyStock"/>
<output wsam:Action="http://ws_almacen/wsAlmacen/modifyStockResponse" message="tns:modifyStockResponse"/>
</operation>
<operation name="checkStock">
<input wsam:Action="http://ws_almacen/wsAlmacen/checkStockRequest" message="tns:checkStock"/>
<output wsam:Action="http://ws_almacen/wsAlmacen/checkStockResponse" message="tns:checkStockResponse"/>
</operation>
</portType>
<binding name="wsAlmacenPortBinding" type="tns:wsAlmacen">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isISBNUsed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifyStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsAlmacen">
<port name="wsAlmacenPort" binding="tns:wsAlmacenPortBinding">
<soap:address location="http://localhost:8080/WA_Almacen/wsAlmacen"/>
</port>
</service>
</definitions>