tienda_BPEL/src/ServicioAlmacen/localhost_8080/WA_Almacen/wsAlmacen.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws_almacen/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws_almacen/">

<xs:element name="addBook" type="tns:addBook"/>

<xs:element name="addBookResponse" type="tns:addBookResponse"/>

<xs:element name="checkStock" type="tns:checkStock"/>

<xs:element name="checkStockResponse" type="tns:checkStockResponse"/>

<xs:element name="getBookIDbyISBN" type="tns:getBookIDbyISBN"/>

<xs:element name="getBookIDbyISBNResponse" type="tns:getBookIDbyISBNResponse"/>

<xs:element name="hasEnoughStock" type="tns:hasEnoughStock"/>

<xs:element name="hasEnoughStockResponse" type="tns:hasEnoughStockResponse"/>

<xs:element name="isISBNUsed" type="tns:isISBNUsed"/>

<xs:element name="isISBNUsedResponse" type="tns:isISBNUsedResponse"/>

<xs:element name="modifyStock" type="tns:modifyStock"/>

<xs:element name="modifyStockResponse" type="tns:modifyStockResponse"/>

<xs:complexType name="checkStock">
<xs:sequence>
<xs:element name="isbn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkStockResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hasEnoughStock">
<xs:sequence>
<xs:element name="amount" type="xs:int"/>
<xs:element name="isbn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hasEnoughStockResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBook">
<xs:sequence>
<xs:element name="isbn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBookResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookIDbyISBN">
<xs:sequence>
<xs:element name="isbn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookIDbyISBNResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isISBNUsed">
<xs:sequence>
<xs:element name="isbn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isISBNUsedResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyStock">
<xs:sequence>
<xs:element name="isbn" type="xs:string" minOccurs="0"/>
<xs:element name="amount" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyStockResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>