tienda_BPEL/src/ServicioAlmacen/localhost_8080/WA_Almacen/wsAlmacen.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_almacen/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_almacen/" name="wsAlmacen">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_almacen/" schemaLocation="http://localhost:8080/WA_Almacen/wsAlmacen?xsd=1"/>
</xsd:schema>
</types>
<message name="isISBNUsed">
<part name="parameters" element="tns:isISBNUsed"/>
</message>
<message name="isISBNUsedResponse">
<part name="parameters" element="tns:isISBNUsedResponse"/>
</message>
<message name="getBookIDbyISBN">
<part name="parameters" element="tns:getBookIDbyISBN"/>
</message>
<message name="getBookIDbyISBNResponse">
<part name="parameters" element="tns:getBookIDbyISBNResponse"/>
</message>
<message name="addBook">
<part name="parameters" element="tns:addBook"/>
</message>
<message name="addBookResponse">
<part name="parameters" element="tns:addBookResponse"/>
</message>
<message name="checkStock">
<part name="parameters" element="tns:checkStock"/>
</message>
<message name="checkStockResponse">
<part name="parameters" element="tns:checkStockResponse"/>
</message>
<message name="hasEnoughStock">
<part name="parameters" element="tns:hasEnoughStock"/>
</message>
<message name="hasEnoughStockResponse">
<part name="parameters" element="tns:hasEnoughStockResponse"/>
</message>
<message name="modifyStock">
<part name="parameters" element="tns:modifyStock"/>
</message>
<message name="modifyStockResponse">
<part name="parameters" element="tns:modifyStockResponse"/>
</message>
<portType name="wsAlmacen">
<operation name="isISBNUsed">
<input wsam:Action="http://ws_almacen/wsAlmacen/isISBNUsedRequest" message="tns:isISBNUsed"/>
<output wsam:Action="http://ws_almacen/wsAlmacen/isISBNUsedResponse" message="tns:isISBNUsedResponse"/>
</operation>
<operation name="getBookIDbyISBN">
<input wsam:Action="http://ws_almacen/wsAlmacen/getBookIDbyISBNRequest" message="tns:getBookIDbyISBN"/>
<output wsam:Action="http://ws_almacen/wsAlmacen/getBookIDbyISBNResponse" message="tns:getBookIDbyISBNResponse"/>
</operation>
<operation name="addBook">
<input wsam:Action="http://ws_almacen/wsAlmacen/addBookRequest" message="tns:addBook"/>
<output wsam:Action="http://ws_almacen/wsAlmacen/addBookResponse" message="tns:addBookResponse"/>
</operation>
<operation name="checkStock">
<input wsam:Action="http://ws_almacen/wsAlmacen/checkStockRequest" message="tns:checkStock"/>
<output wsam:Action="http://ws_almacen/wsAlmacen/checkStockResponse" message="tns:checkStockResponse"/>
</operation>
<operation name="hasEnoughStock">
<input wsam:Action="http://ws_almacen/wsAlmacen/hasEnoughStockRequest" message="tns:hasEnoughStock"/>
<output wsam:Action="http://ws_almacen/wsAlmacen/hasEnoughStockResponse" message="tns:hasEnoughStockResponse"/>
</operation>
<operation name="modifyStock">
<input wsam:Action="http://ws_almacen/wsAlmacen/modifyStockRequest" message="tns:modifyStock"/>
<output wsam:Action="http://ws_almacen/wsAlmacen/modifyStockResponse" message="tns:modifyStockResponse"/>
</operation>
</portType>
<binding name="wsAlmacenPortBinding" type="tns:wsAlmacen">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="isISBNUsed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookIDbyISBN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hasEnoughStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifyStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsAlmacen">
<port name="wsAlmacenPort" binding="tns:wsAlmacenPortBinding">
<soap:address location="http://localhost:8080/WA_Almacen/wsAlmacen"/>
</port>
</service>
</definitions>