tienda_BPEL/src/ServicioPago/localhost_8080/WA_Almacen/wsPagos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_pagos/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_pagos/" name="wsPagos">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_pagos/" schemaLocation="http://localhost:8080/WA_Almacen/wsPagos?xsd=1"/>
</xsd:schema>
</types>
<message name="isCredit">
<part name="parameters" element="tns:isCredit"/>
</message>
<message name="isCreditResponse">
<part name="parameters" element="tns:isCreditResponse"/>
</message>
<message name="hasEnoughCredit">
<part name="parameters" element="tns:hasEnoughCredit"/>
</message>
<message name="hasEnoughCreditResponse">
<part name="parameters" element="tns:hasEnoughCreditResponse"/>
</message>
<message name="isClient">
<part name="parameters" element="tns:isClient"/>
</message>
<message name="isClientResponse">
<part name="parameters" element="tns:isClientResponse"/>
</message>
<message name="modifyCredit">
<part name="parameters" element="tns:modifyCredit"/>
</message>
<message name="modifyCreditResponse">
<part name="parameters" element="tns:modifyCreditResponse"/>
</message>
<message name="creaPedido">
<part name="parameters" element="tns:creaPedido"/>
</message>
<message name="creaPedidoResponse">
<part name="parameters" element="tns:creaPedidoResponse"/>
</message>
<message name="altaCliente">
<part name="parameters" element="tns:altaCliente"/>
</message>
<message name="altaClienteResponse">
<part name="parameters" element="tns:altaClienteResponse"/>
</message>
<message name="doesCreditBelongToClient">
<part name="parameters" element="tns:doesCreditBelongToClient"/>
</message>
<message name="doesCreditBelongToClientResponse">
<part name="parameters" element="tns:doesCreditBelongToClientResponse"/>
</message>
<portType name="wsPagos">
<operation name="isCredit">
<input wsam:Action="http://ws_pagos/wsPagos/isCreditRequest" message="tns:isCredit"/>
<output wsam:Action="http://ws_pagos/wsPagos/isCreditResponse" message="tns:isCreditResponse"/>
</operation>
<operation name="hasEnoughCredit">
<input wsam:Action="http://ws_pagos/wsPagos/hasEnoughCreditRequest" message="tns:hasEnoughCredit"/>
<output wsam:Action="http://ws_pagos/wsPagos/hasEnoughCreditResponse" message="tns:hasEnoughCreditResponse"/>
</operation>
<operation name="isClient">
<input wsam:Action="http://ws_pagos/wsPagos/isClientRequest" message="tns:isClient"/>
<output wsam:Action="http://ws_pagos/wsPagos/isClientResponse" message="tns:isClientResponse"/>
</operation>
<operation name="modifyCredit">
<input wsam:Action="http://ws_pagos/wsPagos/modifyCreditRequest" message="tns:modifyCredit"/>
<output wsam:Action="http://ws_pagos/wsPagos/modifyCreditResponse" message="tns:modifyCreditResponse"/>
</operation>
<operation name="creaPedido">
<input wsam:Action="http://ws_pagos/wsPagos/creaPedidoRequest" message="tns:creaPedido"/>
<output wsam:Action="http://ws_pagos/wsPagos/creaPedidoResponse" message="tns:creaPedidoResponse"/>
</operation>
<operation name="altaCliente">
<input wsam:Action="http://ws_pagos/wsPagos/altaClienteRequest" message="tns:altaCliente"/>
<output wsam:Action="http://ws_pagos/wsPagos/altaClienteResponse" message="tns:altaClienteResponse"/>
</operation>
<operation name="doesCreditBelongToClient">
<input wsam:Action="http://ws_pagos/wsPagos/doesCreditBelongToClientRequest" message="tns:doesCreditBelongToClient"/>
<output wsam:Action="http://ws_pagos/wsPagos/doesCreditBelongToClientResponse" message="tns:doesCreditBelongToClientResponse"/>
</operation>
</portType>
<binding name="wsPagosPortBinding" type="tns:wsPagos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="isCredit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hasEnoughCredit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifyCredit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creaPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="altaCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="doesCreditBelongToClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsPagos">
<port name="wsPagosPort" binding="tns:wsPagosPortBinding">
<soap:address location="http://localhost:8080/WA_Almacen/wsPagos"/>
</port>
</service>
</definitions>