tienda_BPEL/src/ServicioPago/localhost_8080/WA_Almacen/wsPagos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws_pagos/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws_pagos/">

<xs:element name="altaCliente" type="tns:altaCliente"/>

<xs:element name="altaClienteResponse" type="tns:altaClienteResponse"/>

<xs:element name="creaPedido" type="tns:creaPedido"/>

<xs:element name="creaPedidoResponse" type="tns:creaPedidoResponse"/>

<xs:element name="doesCreditBelongToClient" type="tns:doesCreditBelongToClient"/>

<xs:element name="doesCreditBelongToClientResponse" type="tns:doesCreditBelongToClientResponse"/>

<xs:element name="hasEnoughCredit" type="tns:hasEnoughCredit"/>

<xs:element name="hasEnoughCreditResponse" type="tns:hasEnoughCreditResponse"/>

<xs:element name="isClient" type="tns:isClient"/>

<xs:element name="isClientResponse" type="tns:isClientResponse"/>

<xs:element name="isCredit" type="tns:isCredit"/>

<xs:element name="isCreditResponse" type="tns:isCreditResponse"/>

<xs:element name="modifyCredit" type="tns:modifyCredit"/>

<xs:element name="modifyCreditResponse" type="tns:modifyCreditResponse"/>

<xs:complexType name="isCredit">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isCreditResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyCredit">
<xs:sequence>
<xs:element name="amount" type="xs:double"/>
<xs:element name="creditId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyCreditResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creaPedido">
<xs:sequence>
<xs:element name="clientid" type="xs:int"/>
<xs:element name="libroid" type="xs:int"/>
<xs:element name="cantidad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creaPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaCliente">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hasEnoughCredit">
<xs:sequence>
<xs:element name="amount" type="xs:double"/>
<xs:element name="creditId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hasEnoughCreditResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isClient">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isClientResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doesCreditBelongToClient">
<xs:sequence>
<xs:element name="clientid" type="xs:int"/>
<xs:element name="creditid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doesCreditBelongToClientResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>